/**
 * Règle CSS permettant de placer en vis-à-vis un média et le contenu textuel associé
 *
 * @see
 * [The media object saves hundreds of lines of code](http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/)
 *
*/

.parent {
  display: block;
}

.enfant-img {
  float: left;
  margin-right: 10px;
}

.enfant-contenu {
  display: block;
  overflow: hidden;
}
