@if $toc {
  /* - Layout___________________Generic layout module. */
} @else {
  /* Layout (object)
    ========================================================================== */

  /**
  * @note We assume that the default font-size is 16px
  */

  .o-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .o-layout__item--third {
    width: calc(100% / 3 - (1.875rem * 2 / 3)); // 1.875rem = 30px
  }

  .o-layout__item--half {
    width: calc(100% / 2 - (1.875rem * 1 / 2)); // 1.875rem = 30px
  }

  // Add margin-top on `o-layout__item--half` except for the first two
  // @see [La pseudo-classe :nth-child](https://developer.mozilla.org/fr/docs/Web/CSS/:nth-child)
  .o-layout__item--half:not(:nth-child(-n+2)) {
    margin-top: rem(48); // 48px
  }
}
