@if $toc {
  /* - Color-christmas__________Colors for christmas theme */
} @else {
  /* Colors (Christmas theme)
    ========================================================================== */

  /**
  * @note Colors are named thanks to the [Chir.ag’s Name that Color utility](http://chir.ag/projects/name-that-color/).
  */

  .t-christmas {
    // Definition (color)
    --dark-tan: #671612;
    --husk: #adb049;
    --mischka: #e1e0e6;
    --tonys-pink: #e5a67b;
    --trout: #495058;
    --tuna: #2e2e36;
    --valencia: #d33943;

    // Definition (function)
    --gradient : linear-gradient(
        to right,var(--valencia) 25%,
        var(--mischka) 25%, var(--mischka) 50%,
        var(--tonys-pink) 50%, var(--tonys-pink) 75%,
        var(--husk) 75%, var(--husk) 100%
      );


    /** Abbreviations
    /*  - bgc => background-color
    /*  - bgi => background-image
    /*  - bdc => border-color
    /*  - txt => text (color)
    */

    // Assignation (elements)
    --link-default-visited-txt: var(--husk);
    --link-focus-hover-txt: var(--valencia);


    // Assignation (components)
    --button-txt: var(--husk);
    --button-focus-hover-txt: var(--valencia);
    --button--dark-bdc: var(--valencia);
    --button--dark-focus-hover-bdc: var(--husk);

    --example__url-focus-hover-txt: var(--tonys-pink);

    --footer-bgc: var(--tuna);
    --footer__before-bgi: var(--gradient);
    --footer__list-icon-txt: var(--dark-tan);
    --footer__link-txt: var(--valencia);
    --footer__link-focus-hover-txt: var(--husk);
    --footer__date-txt: var(--tonys-pink);

    --glide__bullet-focus-bgc: var(--tonys-pink);
    --glide__bullet-active-bgc: var(--tonys-pink);

    --header-bgc: var(--trout);

    --img-benefit-txt: var(--valencia);
    --img-comment-txt: var(--valencia);

    --nav__item--presentation: var(--mischka);
    --nav__item--testimony: var(--tonys-pink);
    --nav__item--benefit: var(--valencia);
    --nav__item--example: var(--dark-tan);
    --nav__item--asset: var(--husk);

    --section--dark-bg: var(--trout);
    --section--testimony__img-txt: var(--tonys-pink);


    --testimony__footer-txt: var(--tonys-pink);
  }
}
