@if $toc {
  /* - Color____________________Default colors */
} @else {
  /* Colors (settings)
    ========================================================================== */

  /**
  * @note Colors are named thanks to the [Chir.ag’s Name that Color utility](http://chir.ag/projects/name-that-color/).
  */

  :root {
    // Definition (color)
    --amaranth: #e51c5e;
    --blaze-orange: #fc7100;
    --caribbean-green: #02baab;
    --cerulean: #0c8fcc;
    --ebony-clay: #1f2a32;
    --emperor: #525252;
    --regent-gray: #85939f;
    --tundora: #474747;
    --violet-eggplant: #ae0f8d;
    --yellow-sea: #ffae00;

    // Definition (function)
    --gradient : linear-gradient(
        to right, var(--violet-eggplant) 25%,
        var(--cerulean) 25%, var(--cerulean) 50%,
        var(--amaranth) 50%, var(--amaranth) 75%,
        var(--yellow-sea) 75%, var(--yellow-sea) 100%
      );


    /** Abbreviations
    /*  - bgc => background-color
    /*  - bgi => background-image
    /*  - bdc => border-color
    /*  - txt => text (color)
    */

    // Assignation (elements)
    --link-default-visited-txt: var(--caribbean-green);
    --link-focus-hover-txt: var(--violet-eggplant);


    // Assignation (components)
    --button-txt: var(--caribbean-green);
    --button-focus-hover-txt: var(--violet-eggplant);
    --button--dark-bdc: var(--caribbean-green);
    --button--dark-focus-hover-bdc: var(--yellow-sea);

    --example__url-focus-hover-txt: var(--yellow-sea);

    --footer-bgc: var(--ebony-clay);
    --footer__before-bgi: var(--gradient);
    --footer__list-icon-txt: var(--caribbean-green);
    --footer__link-txt: var(--caribbean-green);
    --footer__link-focus-hover-txt: var(--yellow-sea);
    --footer__date-txt: var(--regent-gray);

    --glide__bullet-focus-bgc: var(--caribbean-green);
    --glide__bullet-active-bgc: var(--caribbean-green);

    --header-bgc: var(--tundora);

    --img-benefit-txt: var(--caribbean-green);
    --img-comment-txt: var(--caribbean-green);

    --nav__item--presentation: var(--yellow-sea);
    --nav__item--testimony: var(--blaze-orange);
    --nav__item--benefit: var(--amaranth);
    --nav__item--example: var(--violet-eggplant);
    --nav__item--asset: var(--cerulean);

    --section--dark-bg: var(--emperor);
    --section--testimony__img-txt: var(--caribbean-green);

    --testimony__footer-txt: var(--caribbean-green);
  }
}
