@if $toc {
  /* - Buttons__________________Button styles */
} @else {
  /* Button (component)
    ========================================================================== */

  /**
  * @note We assume that the default font-size is 16px
  */

  .c-button {
    display: inline-block;
    border: 2px solid currentColor;
    padding: 1em em(18, 12); // 12px 18px
    font-weight: 700;
    font-size: rem(12); // 12px
    line-height: 1.5;
    text-transform: uppercase;
    color: #02baab;
    color: var(--button-txt);
    transition: color 0.25s, border-color 0.25s;
    background: none;
    cursor: pointer;
  }

  .c-button:hover,
  .c-button:focus {
    border-color: currentColor;
    color: #ae0f8d;
    color: var(--button-focus-hover-txt);
    text-decoration: none;
  }

  .c-button--dark {
    border-color: #02baab;
    border-color: var(--button--dark-bdc);
    text-transform: none;
    font-weight: 400;
    color: #fff;
  }

  .c-button--dark:visited {
    color: inherit;
  }

  .c-button--dark:hover,
  .c-button--dark:focus {
    color: inherit;
    border-color: #ffae00;
    border-color: var(--button--dark-focus-hover-bdc);
  }
}
