@if $toc {
  /* - Image____________________Overwrite width and height for standalone images */
} @else {
  /* Image (component)
    ========================================================================== */

  /**
  * @note We assume that the default font-size is 16px
  */

  .c-img-logo {
    width: rem(84); // 84px
    height: rem(48); // 48px
  }

  .c-img-benefit {
    width: rem(30); // 30px
    height: rem(30); // 30px
  }

  .c-img-comment {
    width: rem(18); // 18px
    height: rem(14); // 14px
  }
}
