@if $toc {
  /* - Section__________________Sections styles */
} @else {
  /* Section (component)
    ========================================================================== */

  /**
  * @note We assume that the default font-size is 16px
  */

  .c-section {
    padding: rem(102) 0; // 102px 0
  }

  .c-section--presentation {
    text-align: center;
  }

  .c-section--dark {
    color: #ffffff;
    background-color: #525252;
    background-color: var(--section--dark-bg);
  }

  .c-section--testimony {
    position: relative;
  }

  .c-section--testimony .c-section__img {
    position: absolute;
    top: rem(102); // 102px
    left: 50%;
    margin-left: rem(-22); // 22px
    width: rem(44); // 44px
    height: rem(36); // 36px
    color: #02baab;
    color: var(--section--testimony__img-txt);
  }
}
