@if $toc {
  /* - Link_____________________Hyperlink styles */
} @else {
  /* Link
   ========================================================================== */

  /**
  * Default styles for simple hyperlinks.
  */

  a,
  a:visited {
    color: #02baab;
    color: var(--link-default-visited-txt);
    text-decoration: none;
  }

  /**
  * @see [Ordre des pseudo-classes des liens](http://romy.tetue.net/love-fuck-hate)
  */

  a:focus,
  a:hover,
  a:active {
    color: #ae0f8d;
    color: var(--link-focus-hover-txt);
    text-decoration: underline;
  }
}
